html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  flex: 1 0 auto;  /* New property */
}

.post {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.post h2 {
  color: #333;
}

.post p {
  color: #666;
}

.error {
  color: #ff0000; /* Rosso */
  font-weight: bold;
  margin-top: 10px;
}

footer {
  margin-top: auto;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}