html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; /* Rimuove il margine predefinito del body */
  font-family: Arial, sans-serif; /* Font di base per il testo */
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  flex: 1 0 auto;
}

.post {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.post h2 {
  color: #333;
  margin-top: 0;
  content: auto !important;
}

.post p {
  color: #666;
}

.error {
  color: #ff0000;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  margin-top: auto;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Stili per i form */

form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

select {
  appearance: none;
  background: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="%23333" d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}


.login-form {
  text-align: center;
}