{% extends 'layout.html' %}

{% block title %}
    Area Riservata
{% endblock %}

{% block content %}
    <header>
        <h1>Area Riservata</h1>
    </header>
    <main>
        <div class="post">
            <form>
                <h2>Informazioni Utente Alice</h2>
                <div class="form-group">
                    <label for="nome">Nome: Alice </label>
                <div class="form-group">
                    <label for="cognome">Cognome: Leovince</label>
                </div>
                <div class="form-group">
                    <label for="sesso">Sesso: Femmina</label>

                </div>
                <div class="form-group">
                    <label for="data_nascita">Data di Nascita: 10 gennaio 2000</label>
                    
                </div>
                <div class="form-group">
                    <label for="email">Email: alice@ctf.com</label>
                    
                </div>
               
            </form>
        </div>
    </main>
    <footer>
        <p>Copyright &copy; 2024 - Tutti i diritti riservati.</p>
    </footer>
{% endblock %}
